@import "../../css/mixins";

.avatarContainer {
  margin-left: 2rem;
  @include small-size {
    margin: 2rem 0 0;
  }
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

$avatar-size: 310px;
.avatar {
  display: block;
  width: 100%;
  max-width: $avatar-size; // Using avatar-size variable for consistency
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%; 

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; 
  }

  & > div {
    border-radius: 50%; 
    max-height: $avatar-size;
  }

  @include small-size {
    margin: 0 auto;
  }
}
